-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => "ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, if params[:ratings]; params[:ratings].include?(rating) else true end, :id => "ratings_#{rating}" 
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies
  %thead
    %tr
      -# I couldn't figure out how to us the %th#ID and also the {:class => var} so I packed them into one. 
      %th{:class => @titleclass, :id =>@titleID}= link_to "Movie Title", movies_path({:sort_type => :title})
      %th Rating
      %th{:class => @RDclass, :id =>@rdID}= link_to "Release Date", movies_path({:sort_type => :release_date})
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
